# If using OpenAI 

OPENAI_API_KEY="<openai-api-key>"

# Optional for LangSmith tracing and experiment tracking

LANGSMITH_API_KEY="<langsmith-api-key>"
LANGSMITH_ENDPOINT="<langsmith-endpoint>" #defaults to https://api.smith.langchain.com if using cloud
LANGSMITH_TRACING="true"
LANGSMITH_PROJECT="deal-engine"

